# Creating pandas DataFrames

the pandas library is designed to work with a panel or tabular data
pandas is fast highly efficient and producive tool for manipulating and analyzing string ,numeric,
datettime and time series data .pandas provides data structures such as DataFrames and 
Series

A pandas DataFrame is a tabular, two-dimensional labeled and indexed data
structure with a grid of rows and columns. Its columns are heterogeneous types. It has the
capability to work with different types of objects, carry out grouping and joining
operations, handle missing values, create pivot tables, and deal with dates. A pandas
DataFrame can be created in multiple ways. Let's create an empty DataFrame:

In [1]:
# import panadas librry
import pandas as pd

# create empty DataFrame
df=pd.DataFrame()

# header of dataframe()
df.head()

Empty DataFrame
Columns: []
Index: []

In [2]:
#In the preceding example, we have created an empty DataFrame. Let's create a DataFrame
#using a dictionary of the list:

In [3]:
# create dictionary of list
data={'Nmae':['vijay','sundar','satyam','indira'],'age':[44,23,53,21]}

# creae the pandaas Dataframe 
df=pd.DataFrame(data)

#header of dataframe
df.head()

     Nmae  age
0   vijay   44
1  sundar   23
2  satyam   53
3  indira   21

In the preceding code, we have used a dictionary of the list to create a DataFrame. Here, the
keys of the dictionary are equivalent to columns, and values are represented as a list that is
equivalent to the rows of the DataFrame. Let's create a DataFrame using the list of
dictionaries:

In [4]:
# Pandas DataFrame by lists of dicts.
# Initialise data to lists.
data =[ {'Name': 'Vijay', 'Age': 23},{'Name': 'Sundar', 'Age': 25},{'Name':
'Shankar', 'Age': 26}]

# create Data Frame
df=pd.DataFrame(data,columns=['Name','Age'])

#print header
df.head()

      Name  Age
0    Vijay   23
1   Sundar   25
2  Shankar   26

In the preceding code, the DataFrame is created using a list of dictionaries. In the list, each
item is a dictionary. Each key is the name of the column and the value is the cell value for a
row. Let's create a DataFrame using a list of tuples:

In [5]:
# Creating DataFrame using list of tuples.
data = [('Vijay', 23),( 'Sundar', 45), ('Satyam', 46), ('Indira',52)]
# Create dataframe
df = pd.DataFrame(data, columns=['Name','Age'])
# Print dataframe header
df.head()

     Name  Age
0   Vijay   23
1  Sundar   45
2  Satyam   46
3  Indira   52

In the preceding code, the DataFrame is created using a list of tuples. In the list, each item is
a tuple and each tuple is equivalent to the row of columns.m

# Using pandas Series

pandas Series is a one-dimensional sequential data structure that is able to handle any type
of data, such as string, numeric, datetime, Python lists, and dictionaries with labels and
indexes. Series is one of the columns of a DataFrame. We can create a Series using a Python
dictionary, NumPy array, and scalar value. We will also see the pandas Series features and
properties in the latter part of the section. Let's create some Python Series:

Using a Python dictionary: Create a dictionary object and pass it to the Series
object. Let's see the following example:

In [8]:
# dictionary
dict1={0:'ajay',1:'jay',2:'vijay'}

# create pandas series
series=pd.Series(dict1)
series

0     ajay
1      jay
2    vijay
dtype: object

Using a NumPy array: Create a NumPy array object and pass it to the Series
object. Let's see the following example:

In [10]:
import numpy as np
arr=np.array([2,2,3,23,23,2,3,23])

# create pandas series
series=pd.Series(arr)
series

0     2
1     2
2     3
3    23
4    23
5     2
6     3
7    23
dtype: int32

Using a single scalar value: To create a pandas Series with a scalar value, pass
the scalar value and index list to a Series object:

In [11]:
#create pandas series
series=pd.Series(10,index=[0,1,2,3,4,5])
series

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

In [12]:
#load data using read_csv
df=pd.read_csv('top_sadhguru_subreddit_posts.csv')

In [13]:
df.head()

,Unnamed: 0,title,score,id,subreddit,url,num_comments,body,created
0,0,The objective of the Inner Engineering course ...,108,p0vfn6,Sadhguru,https://isha.co/IEO-Quora,10,NaN,1.628489e+09
1,1,What should I do for a daily practice?,5,suwceh,Sadhguru,https://www.reddit.com/r/Sadhguru/comments/suw...,6,I finished inner engineering online about a we...,1.645124e+09
2,2,Is Shoonya intensive taught by Sadhguru himself,6,susuo0,Sadhguru,https://www.reddit.com/r/Sadhguru/comments/sus...,10,"Namaskaram, everytime that Shoonya is taught a...",1.645115e+09
3,3,What Will World Look Like in 22 Years? #Consci...,1,sv4z4j,Sadhguru,https://www.youtube.com/watch?v=p4JqihR0wts,0,NaN,1.645147e+09
4,4,I was planning on starting on neem and turmeri...,8,sup4dy,Sadhguru,https://www.reddit.com/r/Sadhguru/comments/sup...,4,NaN,1.645105e+09

In [15]:
titleseries=df['title']
titleseries

0      The objective of the Inner Engineering course ...
1                 What should I do for a daily practice?
2        Is Shoonya intensive taught by Sadhguru himself
3      What Will World Look Like in 22 Years? #Consci...
4      I was planning on starting on neem and turmeri...
                             ...
295    EP 05 - Utah’s Miracle Rocks - Part 1 | Ride w...
296                                      2021 Highlights
297    What is the chant he often does at the beginni...
298                         How did Isha yoga save you ?
299          There are three versions of Hindu calendar.
Name: title, Length: 300, dtype: object

In [16]:
type(titleseries)

pandas.core.series.Series

In [18]:
df.shape

(300, 9)

In [19]:
df.columns

Index(['Unnamed: 0', 'title', 'score', 'id', 'subreddit', 'url',
       'num_comments', 'body', 'created'],
      dtype='object')

In [20]:
df.dtypes

Unnamed: 0        int64
title            object
score             int64
id               object
subreddit        object
url              object
num_comments      int64
body             object
created         float64
dtype: object

In [23]:
# pandas series slicing
titleseries[-5:250:-1]

295    EP 05 - Utah’s Miracle Rocks - Part 1 | Ride w...
294    1 New Year's Resolution You Must Take! | Sadhg...
293    Just love the way he is calm and tells everyth...
292    Of Mark Twain, Ecstasy & Enlightenment – Autho...
291    What meditation is recommended next after Isha...
290                            Finally it is happening..
289    How long do you guys sleep , has anyone succes...
288    Rudraksha Diksha Initiation with Sadhguru - On...
287    That sounds easy but i wonder if doing it is t...
286    Sadhguru in a rap song? Does anyone know the f...
285             Thoughts are useful, but not dependable.
284        What's been your experience with Surya Kriya?
283    Yoga for people who are uncoordinated? Having ...
282    On this native American journey Sadhguru explo...
281    Difference between Nadi Shuddhi and Nadhi shod...
280    Love is not something that you do. Love is som...
279              This book by sadhguru is an eye opener.
278                     Tips To Sleep Well From Sadhguru
277      The Fierce Yogis of Southern Kailash | Sadhguru
276                                     Remind yourself!
275    Can someone provide details for shoonya medita...
274                                            Yogasanas
273                         One can do what they thought
272                 Free Hindu Temples From Govt Control
271                                        Value of mind
270                 What yoga should I do as a beginner?
269    It's Good to Be Selfish | Sadhguru #shorts #sa...
268    I was so into hiaku for short rhythmic stance....
267                                ..... And now, Yoga !
266       What do you do the first thing in the morning?
265    How long to wait after smoking weed to do Sham...
264       Jusy total involvement... Trying to do this...
263    Kali Yuga – The Science Behind the Cycle of Yu...
262           The Amazing Power Of Your Spine – Sadhguru
261          You can find Sadhguru's latest videos here!
260    Is there any significance for 48hours fast in ...
259                       How to manifest what you want?
258    Sadhguru's Skydiving Adventure – Treasured Mom...
257                           Holding Memory at Distance
256    The recipes in this book are so so so amazing....
255       Am I doing the right or wrong thing. #sadhguru
254    Ep 07 - Spirit of the Grand Canyon | Ride with...
253    Alright so I think I kinda had a wrong idea ab...
252                                      Purpose of Life
251    Sadhguru: Can Women Succeed in Today's Modern ...
Name: title, dtype: object

In [24]:
df.tail()

,Unnamed: 0,title,score,id,subreddit,url,num_comments,body,created
295,295,EP 05 - Utah’s Miracle Rocks - Part 1 | Ride w...,3,rtsw70,Sadhguru,https://www.youtube.com/watch?v=fTLeD70J9jo,0,NaN,1.641072e+09
296,296,2021 Highlights,19,rtg5qi,Sadhguru,https://v.redd.it/4bh1952hr1981,1,NaN,1.641030e+09
297,297,What is the chant he often does at the beginni...,3,rtmxwf,Sadhguru,https://www.reddit.com/r/Sadhguru/comments/rtm...,2,Can somebody give me the name? Id love to find...,1.641055e+09
298,298,How did Isha yoga save you ?,61,rsrgx1,Sadhguru,https://i.redd.it/qnmhtjdszu881.png,6,NaN,1.640948e+09
299,299,There are three versions of Hindu calendar.,28,rsrhdo,Sadhguru,https://v.redd.it/0qh4orcxzu881,0,NaN,1.640948e+09

Filtering columns: pandas offers the ability to select columns. Let's select
columns in a pandas DataFrame:

In [25]:
df=df[['title','id']]

In [26]:
df

                                                 title      id
0    The objective of the Inner Engineering course ...  p0vfn6
1               What should I do for a daily practice?  suwceh
2      Is Shoonya intensive taught by Sadhguru himself  susuo0
3    What Will World Look Like in 22 Years? #Consci...  sv4z4j
4    I was planning on starting on neem and turmeri...  sup4dy
..                                                 ...     ...
295  EP 05 - Utah’s Miracle Rocks - Part 1 | Ride w...  rtsw70
296                                    2021 Highlights  rtg5qi
297  What is the chant he often does at the beginni...  rtmxwf
298                       How did Isha yoga save you ?  rsrgx1
299        There are three versions of Hindu calendar.  rsrhdo

[300 rows x 2 columns]

Filtering rows: pandas offers the ability to select rows. Let's select rows in a
pandas DataFrame:

In [28]:
# Select rows using index
df[30:34]

                                                title      id
30  Adiyogi Wallpapers - Adiyogi wallpapers for yo...  ssh6p4
31  No soil - No food - No life.. we have to act n...  ss46sn
32             Reducing sleep quota plus working out.  ssl5be
33          From America to South Kailash! | Shivanga  ssap7y

Boolean filtering: We can query data using Boolean conditions similar to the
WHERE clause condition of SQL. Let's filter the data greater than the arithmetic
mean:

In [31]:
df=pd.read_csv('top_sadhguru_subreddit_posts.csv')
df[df['score']>df['score'].mean()]

,Unnamed: 0,title,score,id,subreddit,url,num_comments,body,created
0,0,The objective of the Inner Engineering course ...,108,p0vfn6,Sadhguru,https://isha.co/IEO-Quora,10,NaN,1.628489e+09
5,5,Practicing Yogasanas has been life changing fo...,45,sufcgb,Sadhguru,https://i.redd.it/zu542r19hbi81.jpg,3,NaN,1.645070e+09
11,11,How to control the mind?,32,stw0kd,Sadhguru,https://v.redd.it/zbdb2s0s67i81,1,NaN,1.645018e+09
12,12,Yoga means union. When an individual achieves ...,21,stvewl,Sadhguru,https://i.redd.it/apgsllzg17i81.jpg,3,NaN,1.645017e+09
14,14,Trying to look like this after a few yoga cent...,41,stm8h1,Sadhguru,https://i.redd.it/ptqsb0iib4i81.jpg,7,NaN,1.644984e+09
...,...,...,...,...,...,...,...,...,...
286,286,Sadhguru in a rap song? Does anyone know the f...,41,ruza9a,Sadhguru,https://v.redd.it/oe0qox99gg981,7,NaN,1.641208e+09
290,290,Finally it is happening..,26,ru5uhi,Sadhguru,https://i.redd.it/08ixb83hp8981.jpg,5,NaN,1.641114e+09
293,293,Just love the way he is calm and tells everyth...,51,rtfkvc,Sadhguru,https://v.redd.it/h7ym1ywxj1981,0,NaN,1.641028e+09
298,298,How did Isha yoga save you ?,61,rsrgx1,Sadhguru,https://i.redd.it/qnmhtjdszu881.png,6,NaN,1.640948e+09
299,299,There are three versions of Hindu calendar.,28,rsrhdo,Sadhguru,https://v.redd.it/0qh4orcxzu881,0,NaN,1.640948e+09

 # Describing pandas dataframes

The pandas DataFrame has a dozen statistical methods. The following table lists these
methods, along with a short description of each:

Method Description
describe() This method returns a small table with descriptive statistics.
count This method returns the number of non-NaN items.

mad() This method calculates the mean absolute deviation, which is a robust measure
similar to standard deviation.

median() This method returns the median. This is equivalent to the value at the 50th
percentile.

min() This method returns the minimum value.

max() This method returns the maximum value.

mode() This method returns the mode, which is the most frequently occurring value.

std() This method returns the standard deviation, which measures dispersion. It is
the square root of the variance.

var() This method returns the variance.

skew() This method returns skewness. Skewness is indicative of the distribution
symmetry.

kurt() This method returns kurtosis. Kurtosis is indicative of the distribution shape.

# Grouping and joining pandas DataFrame

Grouping is a kind of data aggregation operation. The grouping term is taken from a
relational database. Relational database software uses the group by keyword to group
similar kinds of values in a column. We can apply aggregate functions on groups such as
mean, min, max, count, and sum. The pandas DataFrame also offers similar kinds of
capabilities. Grouping operations are based on the split-apply-combine strategy. It first
divides data into groups and applies the aggregate operation, such as mean, min, max,
count, and sum, on each group and combines results from each group:

In [ ]:
# Group By DataFrame on the basis of Continent column
df.groupby('Continent').mean()
# Group By DataFrame on the basis of continent and select adult literacy rate(%)
df.groupby('Continent').mean()['Adult literacy rate (%)']

Join is a kind of merge operation for tabular databases. The join concept is taken from the
relational database. In relational databases, tables were normalized or broken down to
reduce redundancy and inconsistency, and join is used to select the information from
multiple tables. A data analyst needs to combine data from multiple sources. pandas also
offers to join functionality to join multiple DataFrames using the merge() function.

Inner join: Inner join is equivalent to the intersection operation of a set. It will
select only common records in both the DataFrames. To perform inner join, use
the merge() function with both the DataFrames and common attribute on the
parameter and inner value to show the parameter. The on parameter is used to
provide the common attribute based on the join will be performed and how
defines the type of join:
# Join DataFrames using Inner Join
df_inner= pd.merge(dest, tips, on='EmpNr', how='inner')

df_inner.head()

Full outer join: Outer join is equivalent to a union operation of the set. It merges
the right and left DataFrames. It will have all the records from both DataFrames
and fills NaNs where the match will not be found:
# Join DataFrames using Outer Join
df_outer= pd.merg

Right outer join: In the right outer join, all the records from the right side of the
DataFrame will be selected. If the matched records cannot be found in the left
DataFrame, then it is filled with NaNs:
# Join DataFrames using Right Outer Join
df_right= pd.merge(dest, tips, on='EmpNr', how='right')
df_right.head()

Left outer join: In the left outer join, all the records from the left side of the
DataFrame will be selected. If the matched records cannot be found in the right
DataFrame, then it is filled with NaNs:
# Join DataFrames using Left Outer Join
df_left= pd.merge(dest, tips, on='EmpNr', how='left')
df_left.head()

# Working with missing values

In [35]:
pd.isnull(df)

,Unnamed: 0,title,score,id,subreddit,url,num_comments,body,created
0,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...
295,False,False,False,False,False,False,False,True,False
296,False,False,False,False,False,False,False,True,False
297,False,False,False,False,False,False,False,False,False
298,False,False,False,False,False,False,False,True,False
299,False,False,False,False,False,False,False,True,False

Check missing values in a DataFrame: pandas' isnull() function checks for
the existence of null values and returns True or False, where True is for null
and False is for not-null values. The sum() function will sum all the True
values and returns the count of missing values. We have tried two ways to count
the missing values; both show the same output:
# Count missing values in DataFrame
pd.isnull(df).sum()
The following is the second method:
df.isnull().sum()

Drop missing values: A very naive approach to deal with missing values is to
drop them for analysis purposes. pandas has the dropna() function to drop or
delete such observations from the DataFrame. Here, the inplace=True attribute
makes the changes in the original DataFrame:
# Drop all the missing values
df.dropna(inplace=True)
df.info()

Fill the missing values: Another approach is to fill the missing values with zero,
mean, median, or constant values:
# Fill missing values with 0
df.fillna(0,inplace=True)
df.info()

# Creating pivot tables

A pivot table is a summary table. It is the most popular concept in Excel. Most data analysts
use it as a handy tool to summarize theire results. pandas offers the pivot_table()
function to summarize DataFrames. A DataFrame is summarized using an aggregate
function, such as mean, min, max, or summary

# Summarise dataframe using pivot table
pd.pivot_table(purchase,values='Number', index=['Weather',],
 columns=['Food'], aggfunc=np.sum)

# dealing with dates in pandas

Create a range of dates starting from January 1, 2020, lasting for 45 days, as follows:
pd.date_range('01-01-2000', periods=45, freq='D')

In [36]:
 pd.date_range('01-01-2000', periods=45, freq='D')

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
               '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03', '2000-02-04', '2000-02-05',
               '2000-02-06', '2000-02-07', '2000-02-08', '2000-02-09',
               '2000-02-10', '2000-02-11', '2000-02-12', '2000-02-13',
               '2000-02-14'],
              dtype='datetime64[ns]', freq='D')

Handling an unknown format string: Unknown input format can cause value
errors. We can handle this by using an errors parameter with coerce. coerce
will set invalid strings to NaT:
# Value Error
pd.to_datetime(['20200101', 'not a date'])